* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: rgb(49, 51, 49);
}

.header {
  display: flex;
  width: 70%;
  color: rgb(218, 218, 218);
  justify-content:space-between;
  align-items: center;
}

.header-link {
  color: rgb(218, 218, 218);
}

.header-img {
  width: 70px;
}
.description-container {
  display: flex;
  justify-content: center;
}

.description {
  margin-top: 20px;
  font-size: 30px;
}

.img-container {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  margin: 30px auto;
}

.img-item {
  border: solid 1px rgb(150, 150, 150);
  padding: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  text-align: center;
  color: gray;
  box-shadow: 5px 2px 2px rgb(99, 99, 99);
  margin: 10px;
}

.gallery-img {
  width: 150px;
}
.footer {
  width: 9%;
  margin: auto;
}
.links{
  border-top: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.social-img {
  width: 45px;
  margin-left: 10px;
}